<nav class="navbar navbar-expand-lg navbar-dark shadow-sm">
  <div class="container-fluid px-4">
    <a class="navbar-brand fw-bold fs-4" href="{{ url_for('dashboard.dashboard') }}">
        ExpenseTracker
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-semibold px-3" href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold px-3" href="{{ url_for('expenses.list_expenses') }}">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold px-3" href="{{ url_for('budget.list_budgets') }}">Budgets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold px-3" href="/reports">Reports</a>
        </li>
      </ul>

      <a href="{{ url_for('expenses.add_expense') }}" class="btn btn-light text-primary fw-semibold px-4 rounded-pill border-0">
        <i class="bi bi-plus-circle me-2"></i>New Transaction
      </a>
    </div>
  </div>
</nav>